/* CUSTOM PROPERTIES */
:root {
    --usr-dark-color: #051e34;
}


/* ! Temporary */
header {
    height: 50px;
    background-color: lightgray;
}

.inside-header {
    height: 100px;
    background-color: blue;
}

.col, .card {
    border: 2px solid black;
    background-color: #fff;
}
/* ! ********* */


/* Utils */
a {
    color: white;
    text-decoration: none;
}

/* Main container */
.main-container {
    height: calc(100vh - 50px);
}

/* Sidebar */
.sidebar {
    flex-basis: 50px;
    background-color: var(--usr-dark-color);
    background-image: url(../img/sidebar-bg.png);
}

/* Main Content */
.main-content {
    background-color: pink;
    overflow-y: auto;
    flex-basis: calc(100% - 50px);
}

/*********************/
/*     RESPONSIVE    */
/*********************/

/* SCREEN @992px */
@media screen and (min-width: 992px) {
    .sidebar {
        flex-basis: 150px;
    }

    .main-content {
        background-color: pink;
        overflow-y: auto;
        flex-basis: calc(100% - 150px);
    }
}