/* CUSTOM PROPERTIES */
:root {
    --usr-dark-color: #051e34;
}


/* ! Temporary */
header {
    height: 80px;
}

/* .col, .card {
    border: 2px solid black;
    background-color: #fff;
}

.col-4 {
    border: 2px solid black;
    background-color: #fff;
} */

.fa-bell {
    color: orange;
}
/* ! ********* */

/* Utils */
li a {
    color: white;
    text-decoration: none;
}

.usr-bg-search {
    background-color: #e5e5e5;
}

.usr-bg-darkblue {
    background-color: #165bba;
}

/* Header */
header img {
    height: 50px;
    width: 50px;
}

.fa-magnifying-glass {
    padding: 4px;
}

/* Main container */
.main-container {
    height: calc(100vh - 80px);
}

/* Inside header */
#breadcrumb {
    list-style-type: none;
    padding-left: 0px;
}

/* Sidebar */
.sidebar {
    flex-basis: 50px;
    background-color: var(--usr-dark-color);
    background-image: url(../img/sidebar-bg.png);
}

/* Main Content */
.main-content {
    /* background-color: pink; */
    overflow-y: auto;
    flex-basis: calc(100% - 50px);
}

/*********************/
/*     RESPONSIVE    */
/*********************/

/* SCREEN @992px */
@media screen and (min-width: 992px) {
    .sidebar {
        flex-basis: 150px;
    }

    header img {
        height: 50px;
        width: 150px;
    }

    .main-content {
        overflow-y: auto;
        flex-basis: calc(100% - 150px);
    }
}