/* CUSTOM PROPERTIES */
:root {
    --usr-dark-color: #051e34;
    --size-fixed-xs: 50px;
    --size-fixed-sm: 70px;
    --size-fixed-lg: 150px;
}

/* Utils */
.usr-bg-search {
    background-color: #e5e5e5;
}

.usr-bg-darkblue {
    background-color: #165bba;
}

/* Header */
header {
    height: var(--size-fixed-sm);
}

header img {
    height: var(--size-fixed-xs);
    width: var(--size-fixed-xs);
}

.fa-bell {
    color: orange;
}

.fa-magnifying-glass {
    padding: 4px;
}

/* Main container */
.main-container {
    height: calc(100vh - var(--size-fixed-sm));
}

/* Inside header */
#breadcrumb {
    list-style-type: none;
}

/* Sidebar */
.sidebar {
    flex: 0 0 var(--size-fixed-sm);
    background-color: var(--usr-dark-color);
    background-image: url(../img/sidebar-bg.png);
}

/* Main Content */
.main-content {
    overflow-y: auto;
    flex: 1 1 auto;
}

td {
    font-size: 13px;
}

#first-column {
    width: 39%;
}

#second-column {
    width: 17%;
}

td img {
    width: 30px;
}

/* Offcanvas */
.offcanvas-end {
    width: 100%;
}

/*********************/
/*     RESPONSIVE    */
/*********************/

/* SCREEN @992px */
@media screen and (min-width: 992px) {
    .sidebar {
        flex-basis: var(--size-fixed-lg);
    }

    header img {
        height: var(--size-fixed-xs);
        width: var(--size-fixed-lg);
    }

    .offcanvas-end {
        width: 700px;
    }
}